<form>
    <div>
        <span>{{traitModifier.label}}</span>
        <span>({{traitModifier.value}})</span>
    </div>
    <div>
        <span>{{healthModifier.label}}</span>
        <span>{{healthModifier.state}} ({{healthModifier.value}})</span>
    </div>
    <div>
        <span>{{fearModifier.label}}</span>
        <span>{{fearModifier.state}} ({{fearModifier.value}})</span>
    </div>
    <div>
        <span>{{modifierLabel}}</span>
        <select name="testModifier">
            {{#select testModifier}}
                {{#each modifiers as |modifier difficultyId|}}
                    <option value="{{modifier.value}}">{{modifier.label}}</option>
                {{/each}}
            {{/select}}
        </select>
    </div>
    <div>
        <span>{{difficultyLabel}}</span>
        <select name="testDifficulty">
            {{#select testDifficulty}}
                {{#each difficulties as |difficulty difficultyId|}}
                    <option value="{{difficulty.value}}">{{difficulty.label}}</option>
                {{/each}}
            {{/select}}
        </select>
    </div>
</form>
