<form>
    <div>
        <span>{{healthModifier.label}}</span>
        <span>{{healthModifier.state}} ({{healthModifier.value}})</span>
    </div>
    <div>
        <span>{{fearModifier.label}}</span>
        <span>{{fearModifier.state}} ({{fearModifier.value}})</span>
    </div>
    {{#if modifier.value}}
        <div>
            <span>{{modifier.label}}</span>
            <span>{{modifier.value}}</span>
        </div>
    {{/if}}
    <div>
        <span>{{modifierLabel}}</span>
        <select name="testModifier">
            {{#select testModifier}}
                {{#each modifiers as |modifier difficultyId|}}
                    <option value="{{modifier.value}}">{{modifier.label}}</option>
                {{/each}}
            {{/select}}
        </select>
    </div>
</form>
