<form class="flexcol {{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}" height="100" width="100" />
        <div class="header-fields">
            <h1 class="charname">
                <input name="name" type="text" value="{{data.name}}" placeholder="Name" />
            </h1>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="details">{{localize "TRUDVANG.tabs.details" }}</a>
        <a class="item" data-tab="traits">{{localize "TRUDVANG.tabs.traits" }}</a>
        <a class="item" data-tab="skills-battle">{{localize "TRUDVANG.tabs.skills-battle" }}</a>
        <a class="item" data-tab="skills-agility">{{localize "TRUDVANG.tabs.skills-agility" }}</a>
        {{#if systemData.hasSpells}}
            <a class="item" data-tab="skills-vitner">{{localize "TRUDVANG.tabs.skills-vitner" }}</a>
            <a class="item" data-tab="vitner-tablets">{{localize "TRUDVANG.tabs.tablets" }}</a>
        {{/if}}
        {{#if systemData.hasDivinePower}}
            <a class="item" data-tab="skills-faith">{{localize "TRUDVANG.tabs.skills-faith" }}</a>
            <a class="item" data-tab="divine-tablets">{{localize "TRUDVANG.tabs.tablets" }}</a>
        {{/if}}
        <a class="item" data-tab="skills-artistic">{{localize "TRUDVANG.tabs.skills-artistic" }}</a>
        <a class="item" data-tab="skills-knowledge">{{localize "TRUDVANG.tabs.skills-knowledge" }}</a>
        <a class="item" data-tab="skills-wild">{{localize "TRUDVANG.tabs.skills-wild" }}</a>
        <a class="item" data-tab="inventory">{{localize "TRUDVANG.tabs.inventory" }}</a>
<!--        <a class="item" data-tab="items">Items</a>-->
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Details Tab --}}
        {{> "systems/trudvang/templates/actor-parts/description-tab.html" }}

        {{!-- Trait Tab --}}
        {{> "systems/trudvang/templates/actor-parts/trait-tab.html" }}

        {{!-- Skill-Agility Tab --}}
        {{> "systems/trudvang/templates/actor-parts/skill-agility-tab.html" }}

        {{!-- Skill-Knowledge Tab --}}
        {{> "systems/trudvang/templates/actor-parts/skill-knowledge-tab.html" }}

        {{!-- Skill-Wild Tab --}}
        {{> "systems/trudvang/templates/actor-parts/skill-wild-tab.html" }}

        {{!-- Skill-Artistic Tab --}}
        {{> "systems/trudvang/templates/actor-parts/skill-artistic-tab.html" }}

        {{!-- Skill-Battle Tab --}}
        {{> "systems/trudvang/templates/actor-parts/skill-battle-tab.html" }}

        {{!-- Skill-Faith Tab --}}
        {{> "systems/trudvang/templates/actor-parts/skill-faith-tab.html" }}

        {{!-- Skill-Vitner Tab --}}
        {{> "systems/trudvang/templates/actor-parts/skill-vitner-tab.html" }}

        {{!-- Divine Tablets Tab --}}
        {{> "systems/trudvang/templates/actor-parts/divine-tablet-tab.html" }}

        {{!-- Vitner Tablets Tab --}}
        {{> "systems/trudvang/templates/actor-parts/vitner-tablet-tab.html" }}

        {{!-- Inventory Tab --}}
        {{> "systems/trudvang/templates/actor-parts/inventory-tab.html" }}

<!--        {{!&#45;&#45; Owned Items Tab &#45;&#45;}}-->
<!--        <div class="tab items" data-group="primary" data-tab="items">-->
<!--            <ol class="item-list">-->
<!--                {{#each data.items as |item id|}}-->
<!--                <li class="item flexrow" data-item-id="{{item._id}}">-->
<!--                    <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />-->
<!--                    <h4 class="item-name">{{item.name}}</h4>-->
<!--                    {{!&#45;&#45; Iterate through all attributes on the item and output buttons for any that are formula. &#45;&#45;}}-->
<!--                    <div class="item-buttons">-->
<!--                        {{#each item.data.attributes as |itemAttr key|}}-->
<!--                        {{#if itemAttr.dtype}}-->
<!--                            {{#if itemAttr.isFormula}}-->
<!--                                {{!&#45;&#45; Use the items.name.key format for shorthand. &#45;&#45;}}-->
<!--                                {{#if ../../shorthand}}-->
<!--                                <button class="item-button rollable" data-roll="@items.{{slugify item.name}}.{{key}}" data-label="{{ itemAttr.label }}"-->
<!--                                    title="{{itemAttr.value}}">{{itemAttr.label}}</button>-->
<!--                                {{!&#45;&#45; Use the items.name.attributes.key.value format otherwise. &#45;&#45;}}-->
<!--                                {{else}}-->
<!--                                <button class="item-button rollable"-->
<!--                                    data-roll="@items.{{slugify item.name}}.attributes.{{key}}.value" data-label="{{ itemAttr.label }}"-->
<!--                                    title="{{itemAttr.value}}">{{itemAttr.label}}</button>-->
<!--                                {{/if}}-->
<!--                            {{/if}}-->
<!--                        {{else}}-->
<!--                            {{#each itemAttr as |itemGroupedAttr groupedKey|}}-->
<!--                                {{#if itemGroupedAttr.isFormula}}-->
<!--                                    {{!&#45;&#45; Use the items.name.key format for shorthand. &#45;&#45;}}-->
<!--                                    {{#if ../../../shorthand}}-->
<!--                                    <button class="item-button rollable" data-roll="@items.{{slugify item.name}}.{{key}}.{{groupedKey}}" data-label="{{ itemGroupedAttr.label }}"-->
<!--                                        title="{{itemGroupedAttr.value}}">{{itemGroupedAttr.label}}</button>-->
<!--                                    {{!&#45;&#45; Use the items.name.attributes.key.value format otherwise. &#45;&#45;}}-->
<!--                                    {{else}}-->
<!--                                    <button class="item-button rollable"-->
<!--                                        data-roll="@items.{{slugify item.name}}.attributes.{{key}}.{{groupedKey}}.value" data-label="{{ itemGroupedAttr.label }}"-->
<!--                                        title="{{itemGroupedAttr.value}}">{{itemGroupedAttr.label}}</button>-->
<!--                                    {{/if}}-->
<!--                                {{/if}}-->
<!--                            {{/each}}-->
<!--                        {{/if}}-->
<!--                        {{/each}}-->
<!--                    </div>-->
<!--                    <div class="item-controls">-->
<!--                        <a class="item-control" title="{{ localize "TRUDVANG.ItemEdit" }}" data-action="edit"><i class="fas fa-edit"></i></a>-->
<!--                        <a class="item-control" title="{{ localize "TRUDVANG.ItemDelete" }}" data-action="delete"><i class="fas fa-trash"></i></a>-->
<!--                    </div>-->
<!--                </li>-->
<!--                {{/each}}-->
<!--            </ol>-->
<!--            <p>-->
<!--                <a class="item-control" title="{{ localize "TRUDVANG.ItemCreate" }}" data-action="create"><i class="fas fa-plus"></i> {{ localize "TRUDVANG.ItemCreate" }}</a>-->
<!--            </p>-->
<!--        </div>-->
    </section>
</form>
