<form class="flexcol {{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}" />
        <div class="header-fields">
            <h1 class="charname">
                <input name="name" type="text" value="{{data.name}}" placeholder="Name" />
            </h1>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="attributes">Attributes</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor content=systemData.description target="data.description" button=true owner=owner editable=editable rollData=rollData}}
        </div>

        {{!-- Attributes Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">
            <input
                name="data.equipped"
                type="checkbox"
                {{checked systemData.equipped}}
                data-dtype="Boolean"
            />
            <span class="uppercaseText">{{ localize "TRUDVANG.items.equipped" }}</span>
            <div class="grid-attributes">
                <div>
                    <input
                            name="data.type"
                            type="text"
                            value="{{systemData.type}}"
                            data-dtype="String"
                    />
                    <span class="uppercaseText">{{ localize "TRUDVANG.items.type" }}</span>
                </div>
                <div>
                    <input
                            name="data.material"
                            type="text"
                            value="{{systemData.material}}"
                            data-dtype="String"
                    />
                    <span class="uppercaseText">{{ localize "TRUDVANG.items.material" }}</span>
                </div>
                <div>
                    <input
                            name="data.weaponActions"
                            type="number"
                            value="{{systemData.weaponActions}}"
                            data-dtype="Number"
                    />
                    <span class="uppercaseText">{{ localize "TRUDVANG.items.weaponActions" }}</span>
                </div>
                <div>
                    <input
                            name="data.initiativeModifier"
                            type="number"
                            value="{{systemData.initiativeModifier}}"
                            data-dtype="Number"
                    />
                    <span class="uppercaseText">{{ localize "TRUDVANG.items.initiativeModifier" }}</span>
                </div>
                <div>
                    <input
                            name="data.protectionValue"
                            type="number"
                            value="{{systemData.protectionValue}}"
                            data-dtype="Number"
                    />
                    <span class="uppercaseText">{{ localize "TRUDVANG.items.protectionValue" }}</span>
                </div>
                <div>
                    <input
                            name="data.integrityValue"
                            type="number"
                            value="{{systemData.integrityValue}}"
                            data-dtype="Number"
                    />
                    <span class="uppercaseText">{{ localize "TRUDVANG.items.integrityValue" }}</span>
                </div>
                <div>
                    <input
                            name="data.passiveProtection"
                            type="text"
                            value="{{systemData.passiveProtection}}"
                            data-dtype="String"
                    />
                    <span class="uppercaseText">{{ localize "TRUDVANG.items.passiveProtection" }}</span>
                </div>
                <div>
                    <input
                            name="data.othersData"
                            type="text"
                            value="{{systemData.othersData}}"
                            data-dtype="String"
                    />
                    <span class="uppercaseText">{{ localize "TRUDVANG.items.othersData" }}</span>
                </div>
                <div>
                    <input
                            name="data.price"
                            type="text"
                            value="{{systemData.price}}"
                            data-dtype="String"
                    />
                    <span class="uppercaseText">{{ localize "TRUDVANG.items.price" }}</span>
                </div>
                <div>
                    <input
                            name="data.weight"
                            type="number"
                            value="{{systemData.weight}}"
                            data-dtype="Number"
                    />
                    <span class="uppercaseText">{{ localize "TRUDVANG.items.weight" }}</span>
                </div>
            </div>
        </div>
    </section>
</form>
