<form class="flexcol {{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}" />
        <div class="header-fields">
            <h1 class="charname">
                <input name="name" type="text" value="{{data.name}}" placeholder="Name" />
            </h1>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="attributes">Attributes</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor content=systemData.description target="data.description" button=true owner=owner editable=editable rollData=rollData}}
        </div>

        {{!-- Attributes Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">
            <div class="grid-attributes">
                <div>
                    <input
                            name="data.tabletName"
                            type="text"
                            value="{{systemData.tabletName}}"
                            data-dtype="String"
                    />
                    <span class="uppercaseText">{{ localize "TRUDVANG.spell-item.tablet-name" }}</span>
                </div>
                <div>
                    <input
                            name="data.lvl"
                            type="number"
                            value="{{systemData.lvl}}"
                            data-dtype="Number"
                    />
                    <span class="uppercaseText">{{ localize "TRUDVANG.spell-item.lvl" }}</span>
                </div>
                <div>
                    <input
                            name="data.cost"
                            type="number"
                            value="{{systemData.cost}}"
                            data-dtype="Number"
                    />
                    <span class="uppercaseText">{{ localize "TRUDVANG.spell-item.cost" }}</span>
                </div>
                <div>
                    <input
                            name="data.modifier"
                            type="number"
                            value="{{systemData.modifier}}"
                            data-dtype="Number"
                    />
                    <span class="uppercaseText">{{ localize "TRUDVANG.spell-item.modifier" }}</span>
                </div>
                <div>
                    <input
                            name="data.type"
                            type="text"
                            value="{{systemData.type}}"
                            data-dtype="String"
                    />
                    <span class="uppercaseText">{{ localize "TRUDVANG.spell-item.type" }}</span>
                </div>
                <div>
                    <input
                            name="data.duration"
                            type="text"
                            value="{{systemData.duration}}"
                            data-dtype="String"
                    />
                    <span class="uppercaseText">{{ localize "TRUDVANG.spell-item.duration" }}</span>
                </div>
                <div>
                    <input
                            name="data.range"
                            type="text"
                            value="{{systemData.range}}"
                            data-dtype="String"
                    />
                    <span class="uppercaseText">{{ localize "TRUDVANG.spell-item.range" }}</span>
                </div>
                <div>
                    <input
                            name="data.time"
                            type="text"
                            value="{{systemData.time}}"
                            data-dtype="String"
                    />
                    <span class="uppercaseText">{{ localize "TRUDVANG.spell-item.time" }}</span>
                </div>
            </div>
        </div>
    </section>
</form>
