<div class="tab divine-tablets" data-group="primary" data-tab="divine-tablets">
    {{#each systemData.tablets as |tablet tabletId|}}
        <div>
            <span>{{localize "TRUDVANG.spell-item.tablet-label"}}</span>
            <span>{{tablet.name}}</span>
        </div>
        <table>
            <tr>
                <th>{{localize "TRUDVANG.spell-item.lvl"}}</th>
                <th>{{localize "TRUDVANG.spell-item.divine-power"}}</th>
                <th>{{localize "TRUDVANG.spell-item.type"}}</th>
                <th>{{localize "TRUDVANG.spell-item.time"}}</th>
                <th>{{localize "TRUDVANG.spell-item.duration"}}</th>
                <th>{{localize "TRUDVANG.spell-item.range"}}</th>
                <th></th>
            </tr>
            {{#each tablet.powers as |power powerId|}}
                <tr class="power" data-item-id="{{power._id}}">
                    <td>{{power.data.lvl}}</td>
                    <td>{{power.name}}</td>
                    <td>{{power.data.type}}</td>
                    <td>{{power.data.time}}</td>
                    <td>{{power.data.duration}}</td>
                    <td>{{power.data.range}}</td>
                    <td>
                        <div class="item-controls">
                            <a
                                class="power-control rollable__skill"
                                title="{{ localize 'TRUDVANG.roll-label' }}"
                                data-sv="{{../../systemData.faithAttributes.divineInvocation.total.value}}"
                                data-label="{{power.name}}"
                                data-modifier="{{power.data.modifier}}"
                                data-cost="{{power.data.cost}}"
                                data-spellType="divine"
                                data-action="roll"
                            >
                                <i class="fas fa-dice-d20"></i>
                            </a>
                            <a class="power-control" title="{{ localize 'TRUDVANG.items.edit' }}" data-action="edit"><i class="fas fa-edit"></i></a>
                            <a class="power-control" title="{{ localize 'TRUDVANG.items.remove' }}" data-action="delete"><i class="fas fa-trash"></i></a>
                        </div>
                    </td>
                </tr>
            {{/each}}
        </table>
    {{/each}}
</div>
