<div class="tab inventory" data-group="primary" data-tab="inventory">
    <div class="panel">
        <div class="panel-title">{{localize "TRUDVANG.templates.money"}}</div>
        <div style="display: flex; margin-bottom: 8px; margin-top: 8px">
            <div style="width: 33%">
                <span>PO</span>
                <input
                    type="number"
                    data-dtype="Number"
                    value="{{systemData.money.PO.value}}"
                    name="data.money.PO.value"
                />
            </div>
            <div style="width: 33%">
                <span>PA</span>
                <input
                    type="number"
                    data-dtype="Number"
                    value="{{systemData.money.PA.value}}"
                    name="data.money.PA.value"
                />
            </div>
            <div style="width: 33%">
                <span>PC</span>
                <input
                    type="number"
                    data-dtype="Number"
                    value="{{systemData.money.PC.value}}"
                    name="data.money.PC.value"
                />
            </div>
        </div>
        <div class="panel-title">{{localize "TRUDVANG.templates.item"}}</div>
        <table>
            <tr>
                <th>{{localize "TRUDVANG.items.name"}}</th>
                <th></th>
            </tr>
            {{#each systemData.items as |item itemKey|}}
                <tr class="item" data-item-id="{{item._id}}">
                    <td>{{item.name}}</td>
                    <td>
                        <div class="item-controls">
                            <a class="item-control" title="{{ localize 'TRUDVANG.items.edit' }}" data-action="edit"><i class="fas fa-edit"></i></a>
                            <a class="item-control" title="{{ localize 'TRUDVANG.items.remove' }}" data-action="delete"><i class="fas fa-trash"></i></a>
                        </div>
                    </td>
                </tr>
            {{/each}}
        </table>
        <div class="panel-title">{{localize "TRUDVANG.templates.armour"}}</div>
        <table>
            <tr>
                <th>{{localize "TRUDVANG.items.name"}}</th>
                <th>{{localize "TRUDVANG.items.type"}}</th>
                <th>{{localize "TRUDVANG.items.protectionValue"}}</th>
                <th>{{localize "TRUDVANG.items.integrityValue"}}</th>
                <th>{{localize "TRUDVANG.items.clutter"}}</th>
                <th>{{localize "TRUDVANG.items.othersData"}}</th>
                <th>{{localize "TRUDVANG.items.equipped"}}</th>
                <th></th>
            </tr>
            {{#each systemData.armours as |armour armourKey|}}
                <tr class="item" data-item-id="{{armour._id}}">
                    <td>{{armour.name}}</td>
                    <td>{{armour.data.type}}</td>
                    <td>{{armour.data.protectionValue}}</td>
                    <td>{{armour.data.integrityValue}}</td>
                    <td>{{armour.data.clutter}}</td>
                    <td>{{armour.data.othersData}}</td>
                    <td>
                        <input
                            name="systemData.armours.{{armourKey}}.data.equipped"
                            type="checkbox"
                            {{checked armour.data.equipped}}
                            data-dtype="Boolean"
                            disabled
                        />
                    </td>
                    <td>
                        <div class="item-controls">
                            <a class="item-control" title="{{ localize 'TRUDVANG.items.edit' }}" data-action="edit"><i class="fas fa-edit"></i></a>
                            <a class="item-control" title="{{ localize 'TRUDVANG.items.remove' }}" data-action="delete"><i class="fas fa-trash"></i></a>
                        </div>
                    </td>
                </tr>
            {{/each}}
        </table>
        <div class="panel-title">{{localize "TRUDVANG.templates.shield"}}</div>
        <table>
            <tr>
                <th>{{localize "TRUDVANG.items.name"}}</th>
                <th>{{localize "TRUDVANG.items.type"}}</th>
                <th>{{localize "TRUDVANG.items.material"}}</th>
                <th>{{localize "TRUDVANG.items.weaponActions"}}</th>
                <th>{{localize "TRUDVANG.items.protectionValue"}}</th>
                <th>{{localize "TRUDVANG.items.integrityValue"}}</th>
                <th>{{localize "TRUDVANG.items.passiveProtection"}}</th>
                <th>{{localize "TRUDVANG.items.othersData"}}</th>
                <th>{{localize "TRUDVANG.items.equipped"}}</th>
                <th></th>
            </tr>
            {{#each systemData.shields as |shield shieldKey|}}
                <tr class="item" data-item-id="{{shield._id}}">
                <td>{{shield.name}}</td>
                <td>{{shield.data.type}}</td>
                <td>{{shield.data.material}}</td>
                <td>{{shield.data.weaponActions}}</td>
                <td>{{shield.data.protectionValue}}</td>
                <td>{{shield.data.integrityValue}}</td>
                <td>{{shield.data.passiveProtection}}</td>
                <td>{{shield.data.othersData}}</td>
                <td>
                    <input
                        name="systemData.shields.{{shieldKey}}.data.equipped"
                        type="checkbox"
                        {{checked shield.data.equipped}}
                        data-dtype="Boolean"
                        disabled
                    />
                </td>
                <td>
                    <div class="item-controls">
                        <a class="item-control" title="{{ localize 'TRUDVANG.items.edit' }}" data-action="edit"><i class="fas fa-edit"></i></a>
                        <a class="item-control" title="{{ localize 'TRUDVANG.items.remove' }}" data-action="delete"><i class="fas fa-trash"></i></a>
                    </div>
                </td>
            </tr>
            {{/each}}
        </table>
        <div class="panel-title">{{localize "TRUDVANG.templates.weapon"}}</div>
        <table>
            <tr>
                <th>{{localize "TRUDVANG.items.name"}}</th>
                <th>{{localize "TRUDVANG.items.type"}}</th>
                <th>{{localize "TRUDVANG.items.weaponActions"}}</th>
                <th>{{localize "TRUDVANG.items.protectionValue"}}</th>
                <th>{{localize "TRUDVANG.items.integrityValue"}}</th>
                <th>{{localize "TRUDVANG.items.damage"}}</th>
                <th>{{localize "TRUDVANG.items.shortRange"}}</th>
                <th>{{localize "TRUDVANG.items.longRange"}}</th>
                <th>{{localize "TRUDVANG.items.othersData"}}</th>
                <th>{{localize "TRUDVANG.items.equipped"}}</th>
                <th></th>
            </tr>
            {{#each systemData.weapons as |weapon weaponKey|}}
                <tr class="item" data-item-id="{{weapon._id}}">
                <td>{{weapon.name}}</td>
                <td>{{weapon.data.type}}</td>
                <td>{{weapon.data.weaponActions}}</td>
                <td>{{weapon.data.protectionValue}}</td>
                <td>{{weapon.data.integrityValue}}</td>
                <td>
                    <div>
                        {{weapon.data.damage}}
                        <a
                            class="item-control rollable__damage"
                            title="{{ localize 'TRUDVANG.roll-label' }}"
                            data-label="{{weapon.name}}"
                            data-openRoll="{{weapon.data.openRoll}}"
                            data-damage="{{weapon.data.damage}}"
                            data-isDistance="{{weapon.data.isDistance}}"
                        >
                            <i class="fas fa-dice-d20"></i>
                        </a>
                    </div>
                </td>
                <td>{{weapon.data.shortRange}}</td>
                <td>{{weapon.data.longRange}}</td>
                <td>{{weapon.data.othersData}}</td>
                <td>
                    <input
                        name="systemData.weapons.{{weaponKey}}.data.equipped"
                        type="checkbox"
                        {{checked weapon.data.equipped}}
                        data-dtype="Boolean"
                        disabled
                    />
                </td>
                <td>
                    <div class="item-controls">
                        <a class="item-control" title="{{ localize 'TRUDVANG.items.edit' }}" data-action="edit"><i class="fas fa-edit"></i></a>
                        <a class="item-control" title="{{ localize 'TRUDVANG.items.remove' }}" data-action="delete"><i class="fas fa-trash"></i></a>
                    </div>
                </td>
            </tr>
            {{/each}}
        </table>
    </div>
</div>
