<div class="tab skills-battle" data-group="primary" data-tab="skills-battle">
    <table class="half-width">
        <tr>
            <th></th>
            <th>{{localize "TRUDVANG.skills.header.lvl"}}</th>
            <th>{{localize "TRUDVANG.skills.header.sv"}}</th>
        </tr>
        <tr>
            <td
                colspan="2"
                class="skill-label rollable__skill"
                data-sv="{{systemData.skills.battle.value}}"
                data-label="{{systemData.skills.battle.label}}"
            >
                {{systemData.skills.battle.label}}
            </td>
            <td>
                <input
                    type="number"
                    data-dtype="Number"
                    value="{{systemData.skills.battle.value}}"
                    name="data.skills.battle.value"
                    min="1"
                    max="10"
                />
            </td>
        </tr>
        {{#each data.data.skills.battle.disciplines as |disc discId|}}
            <tr>
                <td
                    class="discipline-label rollable__skill"
                    data-sv="{{disc.value}}"
                    data-label="{{disc.label}}"
                >
                    {{disc.label}}
                </td>
                <td>
                    <input
                        type="number"
                        data-dtype="Number"
                        value="{{disc.lvl}}"
                        name="data.skills.battle.disciplines.{{discId}}.lvl"
                        min="0"
                        max="5"
                    />
                </td>
                <td>
                    <input
                        type="number"
                        data-dtype="Number"
                        value="{{disc.value}}"
                        name="data.skills.battle.disciplines.{{discId}}.value"
                        disabled
                    />
                </td>
            </tr>
            {{#each disc.specialities as |spe speId|}}
                {{#if spe.handOption}}
                    <tr>
                        <td
                            class="rollable__skill"
                            data-sv="{{spe.valueLeft}}"
                            data-label="{{spe.labelLeft}}"
                        >
                            {{spe.labelLeft}}
                        </td>
                        <td>
                            <input
                                type="number"
                                data-dtype="Number"
                                value="{{spe.lvlLeft}}"
                                name="data.skills.battle.disciplines.{{discId}}.specialities.{{speId}}.lvlLeft"
                                min="0"
                                max="5"
                            />
                        </td>
                        <td>
                            <input
                                type="number"
                                data-dtype="Number"
                                value="{{spe.valueLeft}}"
                                name="data.skills.battle.disciplines.{{discId}}.specialities.{{speId}}.valueLeft"
                                disabled
                            />
                        </td>
                    </tr>
                    <tr>
                        <td
                            class="rollable__skill"
                            data-sv="{{spe.valueRight}}"
                            data-label="{{spe.labelRight}}"
                        >
                            {{spe.labelRight}}
                        </td>
                        <td>
                            <input
                                type="number"
                                data-dtype="Number"
                                value="{{spe.lvlRight}}"
                                name="data.skills.battle.disciplines.{{discId}}.specialities.{{speId}}.lvlRight"
                                min="0"
                                max="5"
                            />
                        </td>
                        <td>
                            <input
                                type="number"
                                data-dtype="Number"
                                value="{{spe.valueRight}}"
                                name="data.skills.battle.disciplines.{{discId}}.specialities.{{speId}}.valueRight"
                                disabled
                            />
                        </td>
                    </tr>
                {{else}}
                    <tr>
                        <td
                            class="rollable__skill"
                            data-sv="{{spe.value}}"
                            data-label="{{spe.label}}"
                        >
                            {{spe.label}}
                        </td>
                        <td>
                            <input
                                type="number"
                                data-dtype="Number"
                                value="{{spe.lvl}}"
                                name="data.skills.battle.disciplines.{{discId}}.specialities.{{speId}}.lvl"
                                min="0"
                                max="5"
                            />
                        </td>
                        <td>
                            <input
                                type="number"
                                data-dtype="Number"
                                value="{{spe.value}}"
                                name="data.skills.battle.disciplines.{{discId}}.specialities.{{speId}}.value"
                                disabled
                            />
                        </td>
                    </tr>
                {{/if}}
            {{/each}}
        {{/each}}
    </table>
    <div class="panel half-width">
        <div class="panel-title">
            {{localize "TRUDVANG.skill-battle-tab.battlePoints"}}
        </div>
        <div class="battlePoints-container">
            {{#each data.data.battlePoints as |battlePoint bpId|}}
                <div>
                    <span class="uppercaseText">{{battlePoint.label}}</span>
                    <span>{{battlePoint.value}}</span>
                    {{#if battlePoint.specialisations}}
                        {{#each battlePoint.specialisations as |spe speId|}}
                            <div>
                                <span>{{spe.label}}</span>
                                <span>{{spe.value}}</span>
                            </div>
                        {{/each}}
                    {{/if}}
                </div>
            {{/each}}
        </div>
        <div class="panel-title">
            {{localize "TRUDVANG.skill-battle-tab.battleAttributes"}}
        </div>
        <div>
            {{#each data.data.battleAttributes as |battleAttribute bpId|}}
                <div>
                    <div class="uppercaseText">{{battleAttribute.label}}</div>
                    <span>{{battleAttribute.value}}</span>
                </div>
            {{/each}}
        </div>
        <div class="panel-title">
            {{localize "TRUDVANG.skill-battle-tab.battleActions"}}
        </div>
        <div style="display: flex">
            <p>Combat à main nues</p>
            <p style="margin-left: 8px">{{systemData.skills.battle.value}} + {{systemData.skills.battle.disciplines.unarmedCombat.lvl}} + {{systemData.battlePoints.attack.value}}</p>
        </div>
        <div style="display: flex">
            <p>Combat Armé</p>
            <p style="margin-left: 8px">{{systemData.battlePoints.free.value}} + {{systemData.battlePoints.armed.value}} + {{systemData.battlePoints.attack.value}}</p>
        </div>
        <div style="display: flex">
            <p>Bouclier</p>
            <p style="margin-left: 8px">{{systemData.battlePoints.free.value}} + {{systemData.battlePoints.armed.value}} + {{systemData.battlePoints.attack.value}} + {{systemData.battlePoints.armed.specialisations.shield.value}}</p>
        </div>
        <div class="battleActions-container">
            <p>{{localize "TRUDVANG.description-tab.swordHand"}}</p>
            <div class="battleAction-container">
                <input type="number" name="data.battleActions.battleAction1.sv" value="{{systemData.battleActions.battleAction1.sv}}" />
                <button
                    class="rollable__battleActions"
                    data-sv="{{systemData.battleActions.battleAction1.sv}}"
                    data-label="Battle Action"
                >
                    {{localize "TRUDVANG.roll-label"}}
                </button>
            </div>
            <div class="battleAction-container">
                <input type="number" name="data.battleActions.battleAction2.sv" value="{{systemData.battleActions.battleAction2.sv}}" />
                <button
                    class="rollable__battleActions"
                    data-sv="{{systemData.battleActions.battleAction2.sv}}"
                    data-label="Battle Action"
                >{{localize "TRUDVANG.roll-label"}}</button>
            </div>
            <div class="battleAction-container">
                <input type="number" name="data.battleActions.battleAction3.sv" value="{{systemData.battleActions.battleAction3.sv}}" />
                <button
                    class="rollable__battleActions"
                    data-sv="{{systemData.battleActions.battleAction3.sv}}"
                    data-label="Battle Action"
                >
                    {{localize "TRUDVANG.roll-label"}}
                </button>
            </div>
            <div class="battleAction-container">
                <input type="number" name="data.battleActions.battleAction4.sv" value="{{systemData.battleActions.battleAction4.sv}}" />
                <button
                    class="rollable__battleActions"
                    data-sv="{{systemData.battleActions.battleAction4.sv}}"
                    data-label="Battle Action"
                >
                    {{localize "TRUDVANG.roll-label"}}
                </button>
            </div>
        </div>
        <div class="battleActions-container">
            <p>{{localize "TRUDVANG.battleAttributes.shieldHand"}}</p>
            <div class="battleAction-container">
                <input type="number" name="data.battleActions.battleAction5.sv" value="{{systemData.battleActions.battleAction5.sv}}" />
                <button
                    class="rollable__battleActions"
                    data-sv="{{systemData.battleActions.battleAction5.sv}}"
                    data-label="Battle Action"
                >
                    {{localize "TRUDVANG.roll-label"}}
                </button>
            </div>
            <div class="battleAction-container">
                <input type="number" name="data.battleActions.battleAction6.sv" value="{{systemData.battleActions.battleAction6.sv}}" />
                <button
                        class="rollable__battleActions"
                        data-sv="{{systemData.battleActions.battleAction6.sv}}"
                        data-label="Battle Action"
                >{{localize "TRUDVANG.roll-label"}}</button>
            </div>
            <div class="battleAction-container">
                <input type="number" name="data.battleActions.battleAction7.sv" value="{{systemData.battleActions.battleAction7.sv}}" />
                <button
                        class="rollable__battleActions"
                        data-sv="{{systemData.battleActions.battleAction7.sv}}"
                        data-label="Battle Action"
                >
                    {{localize "TRUDVANG.roll-label"}}
                </button>
            </div>
            <div class="battleAction-container">
                <input type="number" name="data.battleActions.battleAction8.sv" value="{{systemData.battleActions.battleAction8.sv}}" />
                <button
                        class="rollable__battleActions"
                        data-sv="{{systemData.battleActions.battleAction8.sv}}"
                        data-label="Battle Action"
                >
                    {{localize "TRUDVANG.roll-label"}}
                </button>
            </div>
        </div>
        <div class="battleActions-container">
            <p>{{localize "TRUDVANG.battleAttributes.dodge"}}</p>
            <div class="battleAction-container">
                <input type="number" name="data.battleActions.battleAction9.sv" value="{{systemData.battleActions.battleAction9.sv}}" />
                <button
                    class="rollable__battleActions"
                    data-sv="{{systemData.battleActions.battleAction9.sv}}"
                    data-label="Battle Action"
                >
                    {{localize "TRUDVANG.roll-label"}}
                </button>
            </div>
            <div class="battleAction-container">
                <input type="number" name="data.battleActions.battleAction10.sv" value="{{systemData.battleActions.battleAction10.sv}}" />
                <button
                    class="rollable__battleActions"
                    data-sv="{{systemData.battleActions.battleAction10.sv}}"
                    data-label="Battle Action"
                >{{localize "TRUDVANG.roll-label"}}</button>
            </div>
            <div class="battleAction-container">
                <input type="number" name="data.battleActions.battleAction11.sv" value="{{systemData.battleActions.battleAction11.sv}}" />
                <button
                    class="rollable__battleActions"
                    data-sv="{{systemData.battleActions.battleAction11.sv}}"
                    data-label="Battle Action"
                >
                    {{localize "TRUDVANG.roll-label"}}
                </button>
            </div>
        </div>
    </div>
</div>
