<div class="tab skills-knowledge" data-group="primary" data-tab="skills-knowledge">
    <table>
        <tr>
            <th></th>
            <th>{{localize "TRUDVANG.skills.header.lvl"}}</th>
            <th>{{localize "TRUDVANG.skills.header.sv"}}</th>
        </tr>
        <tr>
            <td
                colspan="2"
                class="skill-label rollable__skill"
                data-sv="{{systemData.skills.knowledge.value}}"
                data-label="{{systemData.skills.knowledge.label}}"
            >
                {{systemData.skills.knowledge.label}}
            </td>
            <td>
                <input
                    type="number"
                    data-dtype="Number"
                    value="{{systemData.skills.knowledge.value}}"
                    name="data.skills.knowledge.value"
                    min="1"
                    max="10"
                />
            </td>
        </tr>
        {{#each data.data.skills.knowledge.disciplines as |disc discId|}}
            <tr>
                <td class="discipline-label">
                    <div
                        class="rollable__skill"
                        data-sv="{{disc.value}}"
                        data-label="{{disc.label}}"
                    >
                        {{disc.label}}
                    </div>
                    {{#if disc.toPrecise}}
                        <input
                            type="text"
                            data-dtype="String"
                            value="{{disc.toDefine}}"
                            name="data.skills.knowledge.disciplines.{{discId}}.toDefine"
                        />
                    {{/if}}
                </td>
                <td>
                    <input
                        type="number"
                        data-dtype="Number"
                        value="{{disc.lvl}}"
                        name="data.skills.knowledge.disciplines.{{discId}}.lvl"
                        min="0"
                        max="5"
                    />
                </td>
                <td>
                    <input
                        type="number"
                        data-dtype="Number"
                        value="{{disc.value}}"
                        name="data.skills.knowledge.disciplines.{{discId}}.value"
                        disabled
                    />
                </td>
            </tr>
            {{#each disc.specialities as |spe speId|}}
                <tr>
                    <td>
                        <div
                            class="rollable__skill"
                            data-sv="{{spe.value}}"
                            data-label="{{spe.label}}"
                        >
                            {{spe.label}}
                        </div>
                        {{#if disc.toPrecise}}
                            <span>({{disc.toDefine}})</span>
                        {{/if}}
                        {{#if spe.toPrecise}}
                            <input
                                type="text"
                                data-dtype="String"
                                value="{{spe.toDefine}}"
                                name="data.skills.knowledge.disciplines.{{discId}}.specialities.{{speId}}.toDefine"
                            />
                        {{/if}}
                    </td>
                    <td>
                        <input
                            type="number"
                            data-dtype="Number"
                            value="{{spe.lvl}}"
                            name="data.skills.knowledge.disciplines.{{discId}}.specialities.{{speId}}.lvl"
                            min="0"
                            max="5"
                        />
                    </td>
                    <td>
                        <input
                            type="number"
                            data-dtype="Number"
                            value="{{spe.value}}"
                            name="data.skills.knowledge.disciplines.{{discId}}.specialities.{{speId}}.value"
                            disabled
                        />
                    </td>
                </tr>
            {{/each}}
        {{/each}}
    </table>
</div>
