<div class="tab skills-vitner" data-group="primary" data-tab="skills-vitner">
    <table class="half-width">
        <tr>
            <th></th>
            <th>{{localize "TRUDVANG.skills.header.lvl"}}</th>
            <th>{{localize "TRUDVANG.skills.header.sv"}}</th>
        </tr>
        <tr>
            <td
                colspan="2"
                class="skill-label rollable__skill"
                data-sv="{{systemData.skills.vitner.value}}"
                data-label="{{systemData.skills.vitner.label}}"
            >
                {{systemData.skills.vitner.label}}
            </td>
            <td>
                <input
                    type="number"
                    data-dtype="Number"
                    value="{{systemData.skills.vitner.value}}"
                    name="data.skills.vitner.value"
                    min="1"
                    max="10"
                />
            </td>
        </tr>
        {{#each data.data.skills.vitner.disciplines as |disc discId|}}
            <tr>
                <td
                    class="discipline-label rollable__skill"
                    data-sv="{{disc.value}}"
                    data-label="{{disc.label}}"
                >
                    {{disc.label}}
                </td>
                <td>
                    <input
                        type="number"
                        data-dtype="Number"
                        value="{{disc.lvl}}"
                        name="data.skills.vitner.disciplines.{{discId}}.lvl"
                        min="0"
                        max="5"
                    />
                </td>
                <td>
                    <input
                        type="number"
                        data-dtype="Number"
                        value="{{disc.value}}"
                        name="data.skills.vitner.disciplines.{{discId}}.value"
                        disabled
                    />
                </td>
            </tr>
            {{#each disc.specialities as |spe speId|}}
                <tr>
                    <td>
                        <div
                            class="rollable__skill"
                            data-sv="{{spe.value}}"
                            data-label="{{spe.label}}"
                        >
                            {{spe.label}}
                        </div>
                        {{#if spe.toPrecise}}
                        <input
                            type="text"
                            data-dtype="String"
                            value="{{spe.toDefine}}"
                            name="data.skills.vitner.disciplines.{{discId}}.specialities.{{speId}}.toDefine"
                        />
                        {{/if}}
                    </td>
                    <td>
                        <input
                            type="number"
                            data-dtype="Number"
                            value="{{spe.lvl}}"
                            name="data.skills.vitner.disciplines.{{discId}}.specialities.{{speId}}.lvl"
                            min="0"
                            max="5"
                        />
                    </td>
                    <td>
                        <input
                            type="number"
                            data-dtype="Number"
                            value="{{spe.value}}"
                            name="data.skills.vitner.disciplines.{{discId}}.specialities.{{speId}}.value"
                            disabled
                        />
                    </td>
                </tr>
            {{/each}}
        {{/each}}
    </table>
    <div class="panel half-width">
        <div class="panel-title">
            {{localize "TRUDVANG.skill-vitner-tab.vitner-reserve"}}
        </div>
        <div>
            {{#each data.data.vitnerAttributes.vitnerReserve as |points pointKey|}}
                <div>
                    <span>{{points.label}}</span>
                    <span>{{points.value}}</span>
                </div>
            {{/each}}
            <div>
                <input value="{{systemData.vitnerAttributes.current.value}}" name="data.vitnerAttributes.current.value" type="number" data-dtype="Number" />
                <span>{{localize "TRUDVANG.vitnerAttributes.current"}}</span>
            </div>
        </div>
        <div class="panel-title">
            {{localize "TRUDVANG.skill-vitner-tab.vitner-weaving"}}
        </div>
        <div>
            {{#each data.data.vitnerAttributes.vitnerWeaving as |sv svKey|}}
                <div>
                    <span>{{sv.label}}</span>
                    <span>{{sv.value}}</span>
                </div>
            {{/each}}
        </div>
        <div class="panel-title">
            {{localize "TRUDVANG.skill-vitner-tab.efficiency"}}
        </div>
        <div>
            {{#each data.data.vitnerAttributes.efficiency as |data dataKey|}}
                <div>
                    <span>{{data.label}}</span>
                    <span>{{data.value}}</span>
                </div>
            {{/each}}
        </div>
    </div>
</div>
