<div class="tab skills-artistic" data-group="primary" data-tab="skills-artistic">
    <table class="half-width">
        <tr>
            <th></th>
            <th>{{localize "TRUDVANG.skills.header.lvl"}}</th>
            <th>{{localize "TRUDVANG.skills.header.sv"}}</th>
        </tr>
        <tr>
            <td
                colspan="2"
                class="skill-label rollable__skill"
                data-sv="{{systemData.skills.entertainment.value}}"
                data-label="{{systemData.skills.entertainment.label}}"
            >
                {{systemData.skills.entertainment.label}}
            </td>
            <td>
                <input
                    type="number"
                    data-dtype="Number"
                    value="{{systemData.skills.entertainment.value}}"
                    name="data.skills.entertainment.value"
                    min="1"
                    max="10"
                />
            </td>
        </tr>
        {{#each data.data.skills.entertainment.disciplines as |disc discId|}}
            <tr>
                <td
                    class="discipline-label rollable__skill"
                    data-sv="{{disc.value}}"
                    data-label="{{disc.label}}"
                >
                    {{disc.label}}
                </td>
                <td>
                    <input
                        type="number"
                        data-dtype="Number"
                        value="{{disc.lvl}}"
                        name="data.skills.entertainment.disciplines.{{discId}}.lvl"
                        min="0"
                        max="5"
                    />
                </td>
                <td>
                    <input
                        type="number"
                        data-dtype="Number"
                        value="{{disc.value}}"
                        name="data.skills.entertainment.disciplines.{{discId}}.value"
                        disabled
                    />
                </td>
            </tr>
            {{#each disc.specialities as |spe speId|}}
                <tr>
                    <td
                        class="rollable__skill"
                        data-sv="{{spe.value}}"
                        data-label="{{spe.label}}"
                    >
                        {{spe.label}}
                    </td>
                    <td>
                        <input
                            type="number"
                            data-dtype="Number"
                            value="{{spe.lvl}}"
                            name="data.skills.entertainment.disciplines.{{discId}}.specialities.{{speId}}.lvl"
                            min="0"
                            max="5"
                        />
                    </td>
                    <td>
                        <input
                            type="number"
                            data-dtype="Number"
                            value="{{spe.value}}"
                            name="data.skills.entertainment.disciplines.{{discId}}.specialities.{{speId}}.value"
                            disabled
                        />
                    </td>
                </tr>
            {{/each}}
        {{/each}}
    </table>
    <table class="half-width">
        <tr>
            <th></th>
            <th>{{localize "TRUDVANG.skills.header.lvl"}}</th>
            <th>{{localize "TRUDVANG.skills.header.sv"}}</th>
        </tr>
        <tr>
            <td
                colspan="2"
                class="skill-label rollable__skill"
                data-sv="{{systemData.skills.expertise.value}}"
                data-label="{{systemData.skills.expertise.label}}"
            >
                {{systemData.skills.expertise.label}}
            </td>
            <td>
                <input
                    type="number"
                    data-dtype="Number"
                    value="{{systemData.skills.expertise.value}}"
                    name="data.skills.expertise.value"
                    min="1"
                    max="10"
                />
            </td>
        </tr>
        {{#each data.data.skills.expertise.disciplines as |disc discId|}}
            <tr>
                <td
                    class="discipline-label rollable__skill"
                    data-sv="{{disc.value}}"
                    data-label="{{disc.label}}"
                >
                    {{disc.label}}
                </td>
                <td>
                    <input
                        type="number"
                        data-dtype="Number"
                        value="{{disc.lvl}}"
                        name="data.skills.expertise.disciplines.{{discId}}.lvl"
                        min="0"
                        max="5"
                    />
                </td>
                <td>
                    <input
                        type="number"
                        data-dtype="Number"
                        value="{{disc.value}}"
                        name="data.skills.expertise.disciplines.{{discId}}.value"
                        disabled
                    />
                </td>
            </tr>
            {{#each disc.specialities as |spe speId|}}
                <tr>
                    <td
                        class="rollable__skill"
                        data-sv="{{spe.value}}"
                        data-label="{{spe.label}}"
                    >
                        {{spe.label}}
                    </td>
                    <td>
                        <input
                            type="number"
                            data-dtype="Number"
                            value="{{spe.lvl}}"
                            name="data.skills.expertise.disciplines.{{discId}}.specialities.{{speId}}.lvl"
                            min="0"
                            max="5"
                        />
                    </td>
                    <td>
                        <input
                            type="number"
                            data-dtype="Number"
                            value="{{spe.value}}"
                            name="data.skills.expertise.disciplines.{{discId}}.specialities.{{speId}}.value"
                            disabled
                        />
                    </td>
                </tr>
            {{/each}}
        {{/each}}
    </table>
</div>
