<div class="tab traits" data-group="primary" data-tab="traits">
    <div class="panel">
        <h3 class="panel-title">{{ localize "TRUDVANG.traits-tab.panels.traits" }}</h3>
        <div class="traits-container">
            {{#each data.data.traits as |trait traitId|}}
                <div class="trait-container">
                    <input
                        name="data.traits.{{traitId}}.value"
                        type="number"
                        data-type="Number"
                        data-trait="{{traitId}}"
                        value="{{trait.value}}"
                    />
                    <button
                        class="rollable__situation button-rollable"
                        data-modifier="{{trait.value}}"
                        data-label="{{trait.label}}"
                    >
                        {{trait.label}}
                    </button>
                </div>
            {{/each}}
        </div>
        <div class="secondary-traits-container">
            <div>
                <input
                    name="data.secondaryTraits.raud.value"
                    type="number"
                    value="{{systemData.secondaryTraits.raud.value}}"
                    data-dtype="{{data.data.secondaryTraits.raud.type}}"
                />
                <span class="uppercaseText">{{data.data.secondaryTraits.raud.label}}</span>
            </div>
            <div class="move-stats">
                <div>
                    <input
                        name="data.secondaryTraits.move.value"
                        type="number"
                        value="{{systemData.secondaryTraits.move.value}}"
                        data-dtype="{{data.data.secondaryTraits.move.type}}"
                    />
                    <span class="uppercaseText">{{data.data.secondaryTraits.move.label}}</span>
                </div>
                <div>
                    <p>{{data.data.secondaryTraits.move.valueUpdated}}</p>
                    <p class="uppercaseText">{{ localize "TRUDVANG.secondaryTraits.moveUpdated" }}</p>
                </div>
            </div>
            <div>
                <span class="uppercaseText">{{data.data.secondaryTraits.persistenceInWild.label}}</span>
                <span>{{data.data.secondaryTraits.persistenceInWild.value}}</span>
            </div>
        </div>
    </div>
    <div class="panel">
        <h3 class="panel-title">{{ localize "TRUDVANG.traits-tab.panels.health" }}</h3>
        <div>
            <span>{{ localize "TRUDVANG.traits-tab.panels.health" }}</span>
            <div class="healthPoints">
                <input
                    type="number"
                    data-dtype="Number"
                    name="data.secondaryTraits.health.value"
                    value="{{systemData.secondaryTraits.health.value}}"
                />
                <span class="healthPointsSlash">/</span>
                <input
                    type="number"
                    data-dtype="Number"
                    name="data.secondaryTraits.health.maxValue"
                    value="{{systemData.secondaryTraits.health.maxValue}}"
                />
            </div>
        </div>
        <div>
            <span>{{data.data.secondaryTraits.naturalHealing.label}}:</span>
            <span>{{data.data.secondaryTraits.naturalHealing.value}}</span>
        </div>
        <div>
            <span>{{ localize "TRUDVANG.healthState.title" }}:</span>
            <span>{{data.data.secondaryTraits.health.state}}</span>
        </div>
    </div>
    <div class="panel">
        <h3 class="panel-title">{{ localize "TRUDVANG.traits-tab.panels.fear" }}</h3>
        <div>
            <span>{{ localize "TRUDVANG.traits-tab.panels.fear" }}</span>
            <input
                type="number"
                data-dtype="Number"
                name="data.secondaryTraits.fear.value"
                value="{{systemData.secondaryTraits.fear.value}}"
            />
        </div>
        <div>
            <span>{{ localize "TRUDVANG.fearState.title" }}:</span>
            <span>{{data.data.secondaryTraits.fear.state}}</span>
        </div>
    </div>
</div>
