@font-face {
  font-family: "BellMT";
  src: url('../fonts/BellMT.eot');
  src: url('../fonts/BellMT.eot?#iefix') format('embedded-opentype'),
      url('../fonts/BellMT.woff2') format('woff2'),
      url('../fonts/BellMT.woff') format('woff'),
      url("../fonts/bell-mt.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.trudvang {
  font-family: BellMT;

  input {
    border: none;
    border-bottom: 1px solid black;
    border-radius: 0;
  }

  .uppercaseText {
    text-transform: uppercase;
  }

  .window-content {
    height: 100%;
    padding: 5px;
    overflow-y: hidden;
  }

  form {
    height: 100%;
  }

  .sheet-header {
    flex: 0 0 150px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 10px;

    .profile-img {
      flex: 0 0 100px;
      height: 100px;
      margin-right: 10px;
    }

    .header-fields {
      flex: 1;
      height: 150px;
    }

    h1.charname {
      height: 50px;
      padding: 0px;
      margin: 5px 0;
      border-bottom: 0;
      input {
        width: 100%;
        height: 100%;
        margin: 0;
      }
    }
  }

  .resource {
    width: 50%;
    height: 40px;
    margin-top: 10px;
    float: left;
    text-align: center;
    input {
      width: 100px;
      height: 28px;
    }
  }

  /* Sheet Tabs */
  .tabs {
    flex: 0 0 40px;
    border-top: 1px solid #AAA;
    border-bottom: 1px solid #AAA;

    .item {
      line-height: 40px;
      font-weight: bold;
    }

    .item.active {
      text-decoration: underline;
      text-shadow: none;
    }
  }

  .sheet-body {
    overflow: hidden;
    .tab {
      height: 100%;
      overflow-y: auto;
    }
  }

  .editor, .editor-content {
    height: 100%;
  }

  /* Items List */
  .item-list {
    list-style: none;
    margin: 7px 0;
    padding: 0;
    overflow-y: auto;

    .item {
      min-height: 30px;
      line-height: 24px;
      padding: 3px 0;
      border-bottom: 1px solid #BBB;
      align-items: stretch;

      img {
        flex: 0 0 24px;
        margin-right: 5px;
      }
    }

    .item-name {
      margin: 0;
    }

    .item-controls {
      flex: 0 0 36px;
    }

    .item-buttons {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: center;
      flex: 2;
      justify-content: flex-start;
    }

    .item-button {
      line-height: 1;
      font-size: 11px;
      flex: none;
      width: auto;
    }
  }

  /* Attributes */
  .attributes {
    position: relative;

    .attribute-control,
    .group-control {
      flex: 0 0 20px;
      text-align: center;
      line-height: 28px;
      border: none;
    }

    .attribute-roll {
      flex: 0 0 20px;
      text-align: center;
      border-bottom: none;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .group-prefix {
      height: 31px;
      margin-right: 10px;
    }

    .button {
      width: 100%;
      flex: 1;
      margin: 0;
      background: rgba(0, 0, 0, 0.1);
      border: 2px groove #f0f0e0;
      border-radius: 3px;
      font-size: 14px;
      line-height: 28px;
      display: block;
    }

    .attribute-key {
      background: transparent;
      border: none;
    }
  }

  .attributes-header {
    position: sticky;
    top: 0;
    left: 0;
    align-items: center;
    padding: 0 5px;
    margin: 5px 0;
    background: #cfcdc2;
    border: 1px solid #AAA;
    border-radius: 2px;
    text-align: left;
    font-weight: bold;
  }

  .attributes-list {
    list-style: none;
    margin: 0;
    padding: 0;

    li > * {
      margin: 0 3px;
      height: 28px;
      line-height: 24px;
      background: transparent;
      border: none;
      border-radius: 0;
      border-bottom: 1px solid #AAA;
    }

    .attribute-col {
      label {
        font-size: 10px;
        text-align: center;
        line-height: 1;
      }

      input {
        font-size: 11px;
        text-align: center;
        line-height: 1;
        height: 50%;
      }
    }
  }

  .attribute,
  .group-header {
    input[type="text"] {
      &::placeholder {
        opacity: 0;
        transition: opacity 0.25s ease-in-out;
      }

      &:focus::placeholder {
        opacity: 1;
      }
    }
  }

  .group-controls {
    margin: 5px;
  }

  .groups-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .group {
    margin: 5px 0 0;
    padding: 0;
  }

  .group-header {
    align-items: center;
    background: rgba(0, 0, 0, 0.05);
    border: 1px solid #AAA;
    border-radius: 2px;
    padding: 2px 5px;
  }

  .group-key,
  .group-label {
    font-weight: bold;
    border: none;
    border-bottom: 1px solid #AAA;
    background: transparent;
    border-radius: 0;
    margin-right: 6px;
  }

  .group-key {
    opacity: 0.75;
  }

  .group-label {
    flex: 2;
  }

  .group-dtype {
    height: 24px;
    flex: 0 0 116px;
    margin: 0 5px;
  }
}

.trudvang.sheet.actor {
  min-width: 560px;
  min-height: 420px;
}


.trudvang.sheet.item {
  min-width: 460px;
  min-height: 400px;
}

.panel {
  .panel-title {
    text-align: center;
    background-color: #593b26;
    color: white;
    text-transform: uppercase;
  }
}

.traits-container {
  display: flex;
  justify-content: space-around;
}

.secondary-traits-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.trait-container {
  text-align: center;
}

.skill-label {
  background-color: #593b26;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
}

.discipline-label {
  color: #593b26;
  text-transform: uppercase;
  font-weight: 600;
}

.tab.skills-agility.active {
  display: flex;
  justify-content: space-between;
}

.tab.skills-artistic.active {
  display: flex;
  justify-content: space-between;
}

.tab.skills-battle.active {
  display: flex;
  justify-content: space-between;
}

.tab.skills-faith.active {
  display: flex;
  justify-content: space-between;
}

.tab.skills-vitner.active {
  display: flex;
  justify-content: space-between;
}

.half-width {
  width: 49%;
}

.battlePoints-container {
  display: grid;
  gap: 8px;
  grid-template-columns: 1fr 1fr 1fr;
}

.battleActions-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.battleAction-container {
  display: flex;
  align-items: start;
}

.power {
  text-align: center;
}

.item {
  text-align: center;
}

.tab.description.active {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
}

.grid-attributes {
  margin-top: 8px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 8px;
}

.healthPoints {
  display: flex;
}

.healthPointsSlash {
  margin: 0 8px;
}

.move-stats {
  display: flex;
}
