<div class="description-input-container">
    <input
        id="{{pathName}}.{{name}}.value"
        name="{{pathName}}.{{name}}.value"
        type="{{type}}"
        value="{{value}}"
        data-dtype="{{dataType}}"
        placeholder="{{placeholder}}"
    />
    <span class="uppercaseText">{{label}}</span>
</div>
